// Lucky generates 3 folders to help you organize your CSS:
//
//    - src/css/variables # Files for colors, spacing, etc.
//    - src/css/mixins # Put your mixin functions in files here
//    - src/css/components # CSS for your components
//
// Remember to import your new CSS files or they won't be loaded:
//
//    @import "./variables/colors" # Imports the file in src/css/variables/_colors.scss
//
// Note: importing with `~` tells webpack to look in the installed npm packages
// https://stackoverflow.com/questions/39535760/what-does-a-tilde-in-a-css-url-do

// Add your own components and import them like this:
//
// @import "components/my_new_component";

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";
