name: Auto-merge

on:
  check_suite:
    types:
      - completed

jobs:
  auto_merge:
    name: Auto-merge
    runs-on: ubuntu-latest
    steps:
      - name: Auto-merge
        uses: ridedott/merge-me-action@v2
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PRESET: DEPENDABOT_MINOR
