name: Lucky App CI

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: "30 2 * * *"

jobs:
  ci:
    uses: stephendolan/lucky_jumpstart/.github/workflows/lucky.yml@main
